*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ffffff;
    color: black;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: rgb(27,110,27);
}

.navbar ul{
    display:flex;
    gap: 30px;
}

.navbar ul li{
    list-style:none;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}


.hero{
    height: 90vh;
    justify-content: center;
    background-image: url("images/kerala.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    color: rgb(27, 110, 27);
    background-color: rgb(27,110,27);
    text-align: center;
    align-items: center;
    
}
.hero_content{
    max-width: 700px;
}
.hero_content h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.hero_content p{
    font-size: 1.2rem;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.btn-primary{
    padding: 25px 25px;
    background-color: rgb(81, 162, 81);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 700;
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: rgb(25, 129, 25);
    transform: scale(1.05);
}
.navbar ul li a:hover{
    color: lightgreen;
}

.navbar .btn{
    padding: 30px 30px;
    background-color: green;
    color: white;
    border: 10px;
    border-radius: 25px;
    font-weight: 700;
}

.packages-section{
    padding: 60px 60px;
    text-align: center;
}
.packages-section h1{
    padding-bottom: 30px;
}
.packages-section h2{
    font-weight: 700;
    margin-top: 50px;
    
    
}

.package_list{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.package-card{
    background-color: white;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    transition: 0.4s;
    padding-bottom: 20px;
    
}
.package-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.package-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2)
}

.testimonial_section{
    padding: 60px 20px;
    
    background-color: #f8f8f8;
}

.testimonial_section h1{
    margin-bottom: 40px;
    font-weight: 600;
}

.testimonial_people{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.testmonial_card{
    background-color: white;
    width: 300px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.Gallery_section {
    text-align: center;
    padding: 20px;
}

.Gallery_section h1 {
    color: rgb(4, 128, 4);
    margin-bottom: 20px;
}

.gallery_pic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery_pic img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-radius: 8px;
}
.about_section {
    padding: 60px 10%;
    text-align: center;
    background: rgb(203, 199, 199);       
}

.about_section h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.about_section p {
    font-size: 18px;
    color: black;
    text-align: center;
    gap: 30px;
    padding-left: 15%;  
    padding-right: 15%;  
    padding-top: 1%;     
    padding-bottom: 1%;
}

.about_section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}

.about_section ul {
    list-style: none;          
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

.about_section ul li {
    font-size: 20px;
    background: white;
    padding: 15px 20px;
    margin-top: 12px;
    border-radius: 10px;
}

.about_section ul li:hover {
    transform: translateY(-5px);   
}

footer{
  background:rgb(206, 194, 194);
  padding:25px;
  text-align:center;
  margin-top:40px;
}
.Social_media a{
  text-decoration:none;
  color:rgb(40, 214, 40);
  font-weight:500;
}

.whatsapp_button{
    position: fixed;
    background: rgb(34, 153, 34);
    color: white;
    padding: 14px 18px;
    text-decoration: none;
    bottom: 22px;
    right: 22px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.4s;
}

.whatsapp_button:hover{
    transform: translateY(-8px);
}
.Contact_section{
    padding: 60px 10%;
}
.Contact_section h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(18, 92, 18);
    
}
.contact_container input, 
.contact_container textarea{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
}
.contact_info{
    margin-top: 20px;
    font-size: 16px;
}
.btn_primary{
    padding: 10px 20px;
    background-color: #1b6e1b;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;

}
@media (max-width: 768px) {
    .about_section h1 {
        font-size: 32px;
    }

    .about_section p, .about_section ul li {
        font-size: 16px;
    }
}

/* Remove dead css manualy hear */